/* ======================== RESETS ========================= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	list-style: none;
	color: currentColor;
}

:root {
	/* ## Colors */

	/* ### Primary */

	--soft-red: hsl(7, 99%, 70%);
	--soft-red2: hsla(7, 99%, 70%, 0.445);
	--yellow: hsl(51, 100%, 49%);
	--yellow2: hsla(51, 100%, 49%, 0.486);
	--dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
	--dark-blue-photography-text: hsl(198, 62%, 26%);
	--dark-moderate-cyan-footer: hsl(168, 34%, 41%);
	--dark-moderate-cyan-footer: hsl(168, 57%, 63%);

	/* ### Neutral */

	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
	--white-light: hsla(0, 0%, 100%, 0.349);

	--fs: 18px;
}

body {
	margin: auto;
	max-width: 100rem;

	font-family: "Barlow", sans-serif;
	font-size: var(--fs);
	color: var(--dark-grayish-blue);
	font-weight: 600;
	line-height: 1.8em;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fraunces", serif;
	color: var(--dark-desaturated-cyan-graphic-design-text);
	font-weight: 900;
	line-height: 1em;
}
h1 {
	font-size: 4rem;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.6rem;
}
img {
	width: 100%;
	display: block;
}

/* ======================== COMPONENTS ======================== */
button {
	padding: 0.8em 1.8em;
	border-radius: 3rem;
	border: 1px;
	color: var(--very-dark-grayish-blue);
	font-weight: 900;
	font-size: 1.2rem;

	cursor: pointer;

	background-color: var(--yellow);
	font-family: "Fraunces", serif;
	text-transform: uppercase;
	color: var(--very-dark-desaturated-blue);
	/* font-size: 1rem; */
}
button:hover {
	background-color: var(--white-light);
}

.c1 {
	background: url(./images/desktop/image-graphic-design.jpg) no-repeat;
	background-size: cover;

	color: var(--dark-desaturated-cyan-graphic-design-text);
}
.c2 {
	background: url(./images/desktop/image-photography.jpg) no-repeat;
	background-size: cover;

	color: var(--dark-blue-photography-text);
}

.testifier-image {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

footer {
	padding: 5rem 0;
	background-color: var(--dark-moderate-cyan-footer);
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 3rem;

	color: var(--dark-desaturated-cyan-graphic-design-text);
	stroke: var(--dark-desaturated-cyan-graphic-design-text);
	fill: var(--dark-desaturated-cyan-graphic-design-text);
}

.footer-links {
	display: flex;
	gap: 2.5em;
}
.social-icons {
	display: flex;
	stroke: var(--dark-moderate-cyan-footer);
	gap: 2rem;
}
.social-icons > svg {
	width: 1.3em;
}

.attribution {
	font-size: 0.9rem;
	text-align: center;
}
.attribution a {
	text-decoration: none;
	font-weight: 900;
	font-style: italic;
	color: var(--very-dark-desaturated-blue);
}

article.flexed button {
	width: max-content;
	background-color: transparent;
	padding: 0.2rem 0.8rem;

	position: relative;
}

article.flexed button::after {
	content: " ";
	height: 0.7rem;
	width: 100%;
	border-radius: 2rem;

	background-color: #111;
	z-index: -1;

	position: absolute;
	bottom: 0;
	left: 0;
}
article.flexed:first-child button::after {
	background-color: var(--yellow2);
}
article.flexed:nth-child(2) button::after {
	background-color: var(--soft-red2);
}

.contained {
	display: flex;
	flex-direction: column;
	padding: 26rem 25% 4rem;
	text-align: center;
}
.contained p {
	margin-top: 2rem;
}

p {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */

@media screen and (max-width: 375px) {
	body {
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.5em;
	}
	h1,
	h2,
	h3,
	h4 {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
	.hero {
		position: relative;
		display: grid;
		justify-content: center;
		justify-items: center;
		padding: 0 8%;

		align-items: top;

		stroke: var(--white);
		fill: var(--white);
		color: var(--white);

		height: 35rem;
		background: url(./images/mobile/image-header.jpg) 0 no-repeat;
		background-size: cover;
	}
	.hero-image {
		display: none;
	}
	.hero-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 3rem;
		color: var(--white);
		height: max-content;
	}
	.icon-arrow {
		position: relative;
		top: -2.5rem;
		height: 8rem;
	}
	nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: max-content;
		padding: 1.2rem 0;
	}
	.icon-hamburger {
		width: 2rem;
		height: 3rem;
	}

	.nav-links {
		z-index: 10;
		position: absolute;
		top: 25%;

		height: max-content;
		width: 84%;
		background-color: var(--white);
		color: var(--dark-grayish-blue);
		padding: 3rem 2rem;

		display: flex;
		flex-direction: column;
		gap: 2rem;

		transition: opacity 0.2s;
		opacity: 1;
		visibility: visible;
	}
	.nav-links.hidden {
		opacity: 0;
	}
	.nav-links::before {
		content: "";
		height: 0rem;
		width: 0rem;

		border-top: 4rem solid transparent;
		border-bottom: 4rem solid transparent;
		border-right: 4rem solid var(--white);

		position: absolute;
		top: -2.5rem;
		right: 0;
	}
	.icon-logo {
		width: 10rem;
		height: 3rem;
	}

	/* ========================== */
	article.flexed div {
		padding: 3rem 0;
	}
	.article-text {
		padding: 2rem 1rem;
	}

	article.contained {
		height: 45rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		padding: 0rem 0 2rem;
		background-position: center;
	}
	article.contained p {
		margin-top: 0;
	}

	/* ========================== */

	.testimonials,
	.testimonial {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		padding: 4rem 0;
	}
	.testimonial {
		align-items: center;
		gap: 2.5rem;
		color: var(--very-dark-grayish-blue);
		padding: 2rem 1rem;
	}
	.testifier-details {
		margin-top: 2.2rem;
	}
	.testifier-role {
		font-size: 1rem;
		color: var(--grayish-blue);
		margin-top: 0.7rem;
	}

	/* ========================== */
	.pics {
		display: flex;
		flex-wrap: wrap;
	}
	.pic {
		width: 50%;
	}

	footer {
		padding: 5rem 0;
		background-color: var(--dark-moderate-cyan-footer);
		display: grid;
		justify-items: center;
		align-items: center;
		gap: 3rem;

		color: var(--dark-desaturated-cyan-graphic-design-text);
		stroke: var(--dark-desaturated-cyan-graphic-design-text);
		fill: var(--dark-desaturated-cyan-graphic-design-text);
	}

	.footer-links {
		justify-content: space-around;
	}
}

/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */

@media screen and (min-width: 375px) {
	.mobile {
		display: none;
	}
	/* ======================== LAYOUTS ======================== */
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: max-content;
		padding: 2rem 4%;
	}
	.nav-links {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		gap: 2rem;
	}

	.icon-logo {
		width: 10rem;
		height: 2rem;
	}

	.hero {
		width: 100%;
		height: max-content;

		display: grid;
		justify-items: center;
		align-items: center;

		color: var(--white) !important;
		stroke: var(--white);
		fill: var(--white);
	}
	.hero-title {
		text-transform: uppercase;
		color: var(--white) !important;
		font-weight: 700;
		margin: 1.5em 0 0;
	}
	.hero-image {
		z-index: -5;
		margin-top: -18rem;
	}
	.icon-arrow {
		height: 8rem;
		position: absolute;
	}

	/* ============================================= */

	article.flexed {
		display: flex;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	article.flexed img,
	article.flexed div {
		flex: 1 1 50%;
	}
	article.flexed:first-child {
		flex-direction: row-reverse;
	}
	article.flexed div {
		padding: 1rem 10%;
		display: grid;
		/* flex-direction: column; */
		gap: 3rem;
	}

	.article-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: max-content;
	}

	.testimonials {
		padding: 10rem 10%;
		text-align: center;
		display: grid;
		gap: 4rem;
	}
	.testimonials > h3 {
		text-transform: uppercase;
		color: var(--grayish-blue);
		font-size: 1.5rem;
		letter-spacing: 0.3rem;

		margin-bottom: 2rem;
	}
	.testimonials > div {
		display: flex;
		justify-content: space-around;
		gap: 4rem;
	}
	.testimonial {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}
	.testimony {
		color: var(--very-dark-grayish-blue);
		font-weight: 700;
	}
	.testifier-image {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
	}
	.testifier-name {
		margin: 5rem 0 0.5rem;
	}
	.testifier-role {
		font-size: 01rem;
		color: var(--grayish-blue);
	}
	.testifier-details {
		margin-top: 3rem;
		text-transform: capitalize;
	}

	.pics {
		display: flex;
	}
}
